/*Layout padrão*/
* {
  margin: 0; 
  padding: 0; 
} 

img {
  border : 0
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.navWrapper {
  position: fixed;
  width: 100vw; 
}

.navControls, .navMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;  
}

.navControls nav, .navMenu nav {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
}

.navControls ul, .navMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
}

.navControls {
  background-color: #282e3a;
  flex-direction: column;
}

.navControls ul li {
  display: inline-block;
  padding: 20px 10px;
  transition: all .5s;
}

.navControls ul li:hover {
  background-color: #fff;
}

.navControls ul li a {
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}

.navControls ul li:hover a {
  color: #000;
}

.navMenu {
  background-color: #716e75;
  flex-direction: row; 
}

.navMenu ul, .navControls ul {
  flex-wrap: wrap;
}

.navMenu ul li {
  list-style: none;  
  transition: all .5s;
}

.navMenu ul li:hover {
  background-color: #41454d;
}

.navMenu a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 30px 20px;
  display: block;
}

.active { background: #282e3a; }

.navMenu form {
  margin-left: 90px;
}

.navMenu form input { 
  padding: 10px; 
  border: 0; 
}

.navMenu form button { 
  background: #282e3a; 
  color: #fff; 
  font-size: 15px; 
  border: 0; 
  padding: 10px 15px; 
  cursor: pointer; 
  transition: all .5s; 
}

.navMenu form button:hover { 
  background: #0c5651; 
  transition: all .5s; 
}

.logo {
  background-color: #56c0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 0 5% 0;
}

.logo img {
  width: 100%;
  max-width: 600px;
}

.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #716e75;
  color: #eaebec;
  padding: 50px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style: none;
  padding: 50px 20px;
}

.footer ul li img {
  width: 100px;
  height: 100px;
}

/* index.html */
.mainTitulo {
  width: 100%;
  background-color:#716e75;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 20px 0;
  color: #fff;  
} 

.main {
  background-color: #eaebec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  flex: 1;
  min-height: calc(100vh - 500px);
}

.card img, .card video, .card audio, .card iframe {
  width: 100%;
}

.card iframe {
  height: 320px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 25%;
  min-height: 42rem;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  margin: 30px 10px;
  background-color: #41454d;
  color:#fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  padding: 2rem 0;
}

.card p {
  padding-bottom: 2rem;
}

button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  align-items: flex-end;
}

.card button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.card button:active {
	position:relative;
	top:1px;
}

.card-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 25%;
  min-height: 15rem;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  margin: 30px 10px;
  background-color: #41454d;
  color:#fff;
}

.card-link h2 {
  padding: 20px 30px;
}

@media screen and (max-width: 370px) {
  .navControls {
    display: none;
  }

  .logo {
    display: none;
  }

  .main {
    padding: 34% 0 16% 0;
  }

  .card, .card-link {
    width: 100%;
  }

  div[vw].enabled {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .navControls {
    display: none;
  }

  .logo {
    padding: 44% 0 16% 0;
  }

  .card, .card-link {
    width: 100%;
  }
}

@media screen and (min-width: 650px) and (max-width: 960px) {
  .logo {
    padding: 34% 0 16% 0;
  }

  .card, .card-link {
    width: 38%;
  }
}

.audio audio{
  width: 100%;
  padding: 2rem 0;
}

/* sobre.html */
.sobre {
  background-color: #282e3a;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-height: 28rem;
  margin: 30px 10px;
}

.perfil img {
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
}

.perfil h3 {
  padding-top: 1rem;
}

.perfil h4 {
  padding-bottom: 1rem;
  font-size: 14px
}

.perfil p {
  text-align: justify;
}

.perfil i {
  font-size: 30px;
}

.btn-linkedin {
  margin-top: 20px;
  background: #0E76A8;
  color: #fff;
  border: 1px solid #084461;
}

.btn-linkedin:active, .btn-linkedin:hover {
  background: #084461;
  transition: all .5s;
}

/* Responsivo */
@media screen and (max-width: 329px) {
  .perfil {
    width: 100%;
  }
}

@media screen and (min-width: 330px) and (max-width: 499px) {
  .perfil {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .perfil {
    width: 100%;
  }
}

/* Formulario simples */
/* contato.html */
.wrapperForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.form {
  max-width: 480px;
  border-top: 5px solid #0e3721;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

.submit {
  width: 200px;
  color: white;
  background-color: #282e3a;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-radius: 0%;
}
