/*Layout padrão*/
* {
  margin: 0; 
  padding: 0; 
} 

img {
  border : 0
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.navWrapper {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navControls, .navMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;  
}

.navControls nav, .navMenu nav {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
}

.navControls ul, .navMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
}

.navControls {
  background-color: #282e3a;
  flex-direction: column;
}

.navControls ul li {
  display: inline-block;
  padding: 20px 10px;
  transition: all .5s;
}

.navControls ul li:hover {
  background-color: #fff;
}

.navControls ul li a {
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}

.navControls ul li:hover a {
  color: #000;
}

.navMenu {
  background-color: #716e75;
  flex-direction: row; 
}

.navMenu ul, .navControls ul {
  flex-wrap: wrap;
}

.navMenu ul li {
  list-style: none;  
  transition: all .5s;
}

.navMenu ul li:hover {
  background-color: #41454d;
}

.navMenu a {
  font-size: 11px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 30px 20px;
  display: block;
}

.active { background: #282e3a; }

.navMenu form {
  margin-left: 90px;
}

.navMenu form input { 
  padding: 10px; 
  border: 0; 
}

.navMenu form button { 
  background: #282e3a; 
  color: #fff; 
  font-size: 15px; 
  border: 0; 
  padding: 10px 15px; 
  cursor: pointer; 
  transition: all .5s; 
}

.navMenu form button:hover { 
  background: #0c5651; 
  transition: all .5s; 
}

.logo {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 9% 0 1% 0; */
  padding: 140px 0 1% 0;
}

.logo img {
  width: 100%;
  max-width: 400px;
}

.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #716e75;
  color: #eaebec;
  padding: 30px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style: none;
  padding: 50px 20px;
}

.footer ul li img {
  width: 100px;
  height: 100px;
}

/* Inicio Paginas no Titulo */

.MiniNotice{
  text-align:justify;
	text-justify:inter-word;
  
}

.titulo{
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza o texto horizontalmente */
  align-items: center; /* Centraliza as linhas verticalmente */
  margin: 30px 0; /* 30px -> margens superior e inferior */
}

.titulo::before,
.titulo::after{
   content: '';
   position: relative;
   height: 1px; /* espessura das linhas */
   background: #666; /* cor das linhas */
   min-width: 50px; /* largura mínima das linhas */
   flex-grow: 1; /* distribui a largura das linhas por igual */
}

.titulo span{
   color: rgb(0, 0, 0); /* cor do texto */
   padding: 0 15px; /* distancia do texto às linhas */
   font-weight: bold; /* negrito */
   font-size: 2em; /* tamanho do texto */
}

/* Fim Paginas no Titulo */

/* index.html */
.mainTitulo {
  width: 100%;
  background-color:#716e75;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 20px 0;
  color: #fff;  
} 

.main {
  background-color: #eaebec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  flex: 1;
  min-height: calc(100vh - 500px);
}

.card img, .card video, .card audio, .card iframe {
  width: 100%;
}

.card iframe {
  height: 320px;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  width: 25%;
  min-height: 42rem;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  margin: 30px 10px;
  background-color: #41454d;
  color:#fff;
  text-align: left;
}

.card h2 {
  font-size: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  padding: 2rem 0;
}

.card p {
  padding-bottom: 2rem;
}

.button-link {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.card button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.card button:active {
	position:relative;
	top:1px;
}

.card-link {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  width: 25%;
  min-height: 12rem;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  margin: 30px 10px;
  background-color: #41454d;
  color:#fff;
}

.card-link h2 {
  width: 100%;
  font-size: 18px;
  padding: 10px 30px;
}

.audio audio{
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-audio {
  width: 66%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(179, 179, 179);
  color: #444;
  margin: 20px auto;  
  position: z-index;
}


/* sobre.html */
.sobre {
  background-color: #eaebec;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 133px 0 1% 0;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin: 10px;
}


#efeito-img{position:relative;top:0;
  transition: all .2s ease-in-out}
#efeito-img:hover{top:-4px;box-shadow:0 4px 3px #999}

#efeito-btn{position:relative;top:0;
  transition: all .2s ease-in-out}
#efeito-btn:hover{top:-4px;box-shadow:0 4px 3px #999}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-height: 29rem;
  margin: 30px 40px;  
}

.perfil img {
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  /* box-shadow: black 5px 5px 20px; */
}

.perfil h2, .perfil h3 {
  padding-top: 1rem;
  line-height: 1.0;
}

.perfil h4 {
  padding-bottom: 1rem;
  font-size: 14px
}

.perfil p {
  text-align: justify;
}

.perfil a {
  margin-right: 10px;
}

.perfil i {
  width: 100%;
  font-size: 30px;
}

/* Button Redes Sociais */
.btn btn-github btn-lg, .btn btn-linkedin btn-lg {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;   
}

i:hover {
  color: #AEC6CF;
  transition: 0.4s;
  cursor: pointer;  
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}

/* Fim Button Redes Sociais */

/* Formulario simples */
/* contato.html */
.wrapperForm {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding: 133px 0 1% 0;
}

.form {
  width: 100%;
  max-width: 480px;
  /* border-top: 5px solid #0e3721; */
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

.submit {
  width: 200px;
  color: white;
  background-color: #282e3a;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-radius: 0%;
}

/* saiba Mais */

.saibaMais {
  background-color: #eaebec;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  padding: 133px 0 1% 0;
}

/* Responsivo */

@media screen and (max-width: 329px) {
  .perfil {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .navControls {
    display: none;
  }

  .logo {
    display: none;
  }

  .main {
    padding: 150px 0 1% 0;
  }

  .card, .card-link {
    width: 100%;
  }

  div[vw].enabled {
    display: none;
  }
}

@media screen and (max-width: 485px) {
  .logo {
    padding: 191px 0 1% 0;
  }

  .sobre, .wrapperForm, .saibaMais {
    padding: 191px 0 1% 0;
  }

  .card, .card-link {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 100%;
  }
}


@media screen and (min-width: 330px) and (max-width: 499px) {
  .perfil {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .perfil {
    width: 100%;
  }
}

@media screen and (min-width: 650px) and (max-width: 960px) {
  .card, .card-link {
    width: 38%;
  }
}
